.gray-cage {
  display: flex;
  padding: 5px 10px;
  border-radius: 5px;
  background: #dedede;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #9a9a9a;
}