// Colors
$c-black: #000;
$c-yellow: #fef7d0;
$c-red: #c51c2f;
$c-green: #5cb70d;
$c-gray: #9c9c9c;
$c-light-gray: #f2f2f2;


// Font Size
$fs-small: 10px;
$fs-medium: 12px;
$fs-large: 16px;
$fs-xLarge: 20px;
$fs-xxLarge: 35px;